#knopke{
    background-color: #50535f;
    color: white;
    width: 500px;
    height: 200px;
    border: none;
    margin: 5px;
    vertical-align: middle;
    font-size: 30px !important;
    cursor: pointer;
}
#knopke img{
    width: 120px;
    height: 120px;
}
#content{
    width: 100%;
    height: 100%;
}
#knopkes{
    grid-template-columns: auto auto;
    display: grid;
    justify-content: center;
    padding-top: 40px;
    z-index: 1 !important;
}

@media (max-width: 1383px){
    #knopke{
        width: 500px;
        height: 200px;
        vertical-align: middle;
    }
    #knopkes{
        grid-template-columns: auto;
    }
}
@media (max-width: 500px){
    #knopke{
        width: 45vw;
        height: 45vw;
        vertical-align: middle;
        font-size: 20px !important;
    }
    #knopke:after{
        padding-bottom: 100%;
        content: "";
    }
    #knopkes{
        grid-template-columns: auto auto;
    }
}

.cookie-container p {
    margin: 24px 0;
    line-height: 2;
}

.cookie-container {
    color: #f5f6fa;
    background: #50535f;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(50, 50, 50, 40);
    z-index: 2;
    transition: 300ms;
}

.cookie-knopke {
    color: #f5f6fa;
    background: #34a330;
    padding: 12px 48px;
    font-size: 18;
    margin-bottom: 16px;
    border: 0; 
    border-radius: 8px;
}