.navbar {
  background-color: #50535f !important;
  width: 100%;
}

.isala-logo {
  width: 80px;
  height: auto;
}

.nav-right-side {
  display: flex;
  align-items: center;
}

.btn-user {
  background: none;
  border: none;
  color: #dddddd;
  padding: 2px;
  animation: smooth-unhover 0.35s forwards;
}

.btn-user:hover {
  animation: smooth-hover 0.35s forwards;
  text-decoration: none;
}

.btn-logout {
  color: white;
}
.btn-logout:hover {
  color: white;
}

.logout-icon {
  width: 25px;
  height: auto;
}

.form-logout {
  margin: 0 auto;
}

.btn-hamburger {
  border: none;
  background: none;
  color: none;
  outline: none !important;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
  margin-right: 10px;
}

.dropdown-menu {
  background-image: linear-gradient(to left, #50535f, #484a53);
}

.dropdown-item {
  color: white;
  background-image: linear-gradient(
    to left,
    rgba(80, 83, 95, 0.85),
    rgba(72, 74, 83, 0.85)
  );
}

.dropdown-item:hover {
  color: white;
  background-image: linear-gradient(
    to left,
    rgba(80, 83, 95, 0.85),
    rgba(72, 74, 83, 0.85)
  );
}

/**
 * Sidebar
*/

#sidebar {
  min-width: 130px;
  max-width: 130px;
  min-height: 100vh;
  height: 100%;
  background-color: #50535f;
  color: #fff;
  transition: all 0.3s;
  position: absolute;
  align-items: stretch;
  z-index: 2;
}

#sidebar.active {
  margin-left: -250px;
}

.sidebar-item,
.sidebar-item:hover,
.sidebar-item:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  background-image: linear-gradient(to left, #50535f, #484a53);
}

#sidebar ul li.active > .sidebar-item,
.sidebar-item[aria-expanded="true"] {
  color: #fff;
  background-image: linear-gradient(to left, #50535f, #484a53);
}

/**
 * @Keyframes
*/

@keyframes smooth-unhover {
  from {
    color: white;
  }
  to {
    color: #dddddd;
  }
}

@keyframes smooth-hover {
  from {
    color: #dddddd;
  }
  to {
    color: white;
  }
}

/**
 * @media
*/

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
li{
    list-style-type: inside;
  border-top: 1px solid white !important;
}
li:last-child{
      list-style-type: inside;
  border-bottom: 1px solid white !important;
}
a{
text-align: center;
}
